html,
body {
  min-width: 1122px;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Header*/

.main_header {
  margin-bottom: 60px;
}

.catalog_header {
  margin-bottom: 55px;
}

.catalog_item_header {
  margin-bottom: 55px;
}

.mini_logo {
  float: left;
  width: 140px;
  min-height: 70px;
  margin-right: 20px;
}

.main_navigation {
  float: left;
  width: 780px;
  min-height: 70px;
}

.catalog_navigation {
  float: left;
  width: 620px;
  min-height: 70px;
}

.user_block {
  float: right;
  width: 140px;
  min-height: 70px;
}

/*Main*/

h1 {
  font-size: 30px;
  line-height: 42px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
}

.h2_catalog {
  font-size: 30px;
  margin-bottom:22px;
}

.h1_item {
  margin-bottom: 20px;
}

.index_logo {
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.breadcrumbs {
  margin-bottom: 55px;
}

.features {
  margin-bottom: 80px;
}

.features_item {
  float: left;
  width: 300px;
  min-height: 175px;
  margin-right: 20px;
}

.features_item:last-child {
  margin-right: 0;
}

.catalog_left_side {
  float: left;
  width: 220px;
  min-height: 685px;
}

.catalog_contain {
  float: right;
  width: 700px;
  min-height: 685px;
  font-size: 0px;
}

article {
  display: inline-block;
  width: 220px;
  min-height: 286px;
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
}
article:nth-child(3n) {
  margin-right: 0;
}

article h1 {
  font-size: 14px;
  line-height: 18px;
}

.gallery_item {
  float: left;
  width: 460px;
  min-height: 668px;
  font-size: 0;
}

.gallery_item figure {
  display: inline-block;
  width: 140px;
  margin: 0;
  margin-right: 20px;
}
.gallery_item figure:first-child {
  width: 460px;
  margin-right: 0;
  margin-bottom: 20px;
}

.gallery_item figure:last-child {
  margin-right: 0;
}

.description {
  float:right;
  width: 400px;
  min-height: 505px;
}
.vendor_code {
  float: right;
  width: 115px;
}

.index_content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index_content_left {
  float: left;
  width: 380px;
  min-height: 330px;
}

.index_content_right {
  float: right;
  width: 300px;
  min-height: 330px;
}

.switch_pages {
  margin-top: 45px;
  font-size: 14px;
}

/*Footer*/

.main_footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.catalog_footer {
  margin-top: 50px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer_contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer_social {
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer_copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}



























/*======================================
 Системное оформление - не изменять
 Взято с демки html academy
=======================================*/
/*
body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  display: none;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}
*/
